.grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;

  &__horizontal-coordinates {
    display: flex;
    flex-basis: 100%;
    padding: 0 0 0 18px;

    .grid__coordinates-item {
      width: 50px;
      justify-content: center;
    }
  }

  &__vertical-coordinates {

  }

  &__coordinates-item {
    display: flex;
    align-items: center;
    height: 50px;
  }

  &__container {
    background-color: $white;
    border: 1px solid deepskyblue;
    width: 500px;
    height: 500px;
  }

  &__row {
    display: flex;
    height: 10%;

    &.battleship {
      .grid__row-item {
        &:hover {
          background: transparent url("../../public/images/cartman-icon.png") no-repeat center center;
          background-size: contain;
          //background-color: deepskyblue;
        }
      }
    }

    &.cruiser {
      .grid__row-item {
        &:hover {
          background: transparent url("../../public/images/stan-icon.png") no-repeat center center;
          background-size: contain;
          //background-color: orange;
        }
      }
    }

    &.destroyer {
      .grid__row-item {
        &:hover {
          background: transparent url("../../public/images/kyle-icon.png") no-repeat center center;
          background-size: contain;
          //background-color: darkorchid;
        }
      }
    }

    &.torpedo {
      .grid__row-item {
        &:hover {
          background: transparent url("../../public/images/kenny-icon.png") no-repeat center center;
          background-size: contain;
          //background-color: indianred;
        }
      }
    }
  }

  &__row-item {
    border: 1px solid deepskyblue;
    width: 10%;
    height: 100%;
    cursor: pointer;

    &[data-bsp-grid-row-disabled="true"] {
      pointer-events: none;
      cursor: auto;
    }

    &.battleship {
      background: transparent url("../../public/images/cartman-icon.png") no-repeat center center;
      background-size: contain;
      //background-color: deepskyblue;
    }

    &.cruiser {
      background: transparent url("../../public/images/stan-icon.png") no-repeat center center;
      background-size: contain;
      //background-color: orange;
    }

    &.destroyer {
      background: transparent url("../../public/images/kyle-icon.png") no-repeat center center;
      background-size: contain;
      //background-color: darkorchid;
    }

    &.torpedo {
      background: transparent url("../../public/images/kenny-icon.png") no-repeat center center;
      background-size: contain;
      //background-color: indianred;
    }

    &.blocked {
      background: rgba(0, 191, 255, 0.18) url("../../public/images/mr.hanki.png") no-repeat center center;
      background-size: contain;
      //background-color: red;
    }
  }
}